*{
    margin: 0px;
    padding: 0px;
}
.imagem-redonda
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.retangulo
{
    width: 1366px;
    height: 50px;
    background-color: purple;
}

.anime
{
    position: absolute;
    top:10px;
    left: 800px;
    word-spacing: 80px;
}

a
{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}

h1
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3
{
    text-align: center;
}

h2
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}