:root {
    --background-color-light: white;
    --text-color-light: black;

    --background-color-dark: black;
    --text-color-dark: white;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.imagem-redonda {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.retangulo {
    width: 1872px;
    height: 50px;
    background-color: #555;
}

.anime {
    position: absolute;
    top: 10px;
    left: 1400px;
    word-spacing: 80px;
}

a {
    color: #ffa500;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin: 15px;
}
